#container {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 800px;
    width: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 0px;
}

.icon-container {
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 0px;
    
}

.icon-box {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 20%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
}

.icon-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
}

.icon-box i {
    color: #fcfbfb;
    font-size: 24px;
}
