{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>About Me</h1>
    </div>
    <div class="profile-image">
        <img src="static/images/picture1.jpeg" alt="Profile Image">
    </div>
    <div class="card">
        <div class="face front">
            <h2>About</h2>
        </div>
        <div class="face back">
            <h1>Sabari Raj</h1>
            <p>As a person with a diverse skill set, I work in the realms of AI & ML, and MERN Stack. My expertise 
                includes ML model training, data analysis, data preprocessing, encoding, and proficiency in 
                programming languages such as Python and Java. Additionally, I have a solid foundation in web 
                technologies like MERN Stack and Flask, along with database management using MySQL and MongoDB.. 
            </p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <h2>Skills</h2>
        </div>
        <div class="face back">
            <p>MERN Stack | Machine Learning | Node | Express | Flask | Python | C++ | C | MySQL | MongoDB</p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <h2>Experience</h2>
        </div>
        <div class="face back">
            <p>Amazon ML Summer School participant, Fall-2023</p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <h2>Education</h2>
        </div>
        <div class="face back">
            <p>B.Tech in CSE, SRM University AP, 2021-25 <br> Psychology(Minor), SRM University, 2023-25</p>
        </div>
    </div>
</div>
{% endblock %}


