<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="nav">
        <div id="center-nav">
            <a href="{{ url_for('index') }}"><i class="fas fa-star"></i> Portfolio</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
