{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" />
{% endblock %} 

{% block content %}
<div id="container">
    <h1>Contact Me..!</h1>
    <div class="icon-container">
        <a href="mailto:sabarirajssr143@gmail.com" target="_blank" class="icon-box">
            <i class="ri-mail-line"></i>
        </a>
        <a href="https://github.com/sabariraj01" target="_blank" class="icon-box">
            <i class="ri-github-line"></i> 
        </a>
        <a href="https://www.linkedin.com/in/s-sabari-raj-32028b227/" target="_blank" class="icon-box">
            <i class="ri-linkedin-box-line"></i> 
        </a>
        <a href="https://leetcode.com/u/Sabari_raj/" target="_blank" class="icon-box">
            <i class="ri-code-s-slash-line"></i> 
        </a>
        <a href="https://linktr.ee/SSabariRaj" target="_blank" class="icon-box">
            <i class="ri-bookmark-line"></i> 
        </a>
    </div>
</div>
{% endblock %}
