{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">    
{% endblock %}

{% block content %}
<div id="main">
    <div id="page">
        <img src="./static/images/picture2.jpg" alt="Profile Image">
        <div id="text">
            <h2>Hello..!</h2>
            <h1>
                I'm
                <br>
                <h1 id="typing"></h1>
            </h1>
            <br>
            <h4>
                A Computer Science enthusiast at SRM University AP, passionate about delving into the vast realms of
                MERN Stack and Machine Learning..
            </h4>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/typeEffect.js') }}"></script>
{% endblock %}



