{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>My Projects</h1>
    </div>

    <div class="project">
        <h2>Mental Health Care Chatbot</h2>
        <p>This Hybrid MERN-Flask architecture project has demonstrated the development of a
            conversational Chatbot using NLP and Deep Learning techniques and capable 
            of understanding and responding to a wide array of user inputs limited to MENTAL-HEALTH.
        </p>
        <a href="https://github.com/sabariraj01/Mental-Health-Care_Chatbot" class="btn" target="_blank">View</a>
    </div>

    <div class="project">
        <h2>Pneumonia Detection Using CNN</h2>
        <p>This project leverages deep learning techniques like CNN to assist in the early diagnosis of
             pneumonia, potentially aiding medical professionals and improving patient outcomes.
        </p>
        <a href="https://github.com/sabariraj01/Pneumonia_Detection_Using-CNN" class="btn" target="_blank">View</a>
    </div>

    <div class="project">
        <h2>Colour Detection</h2>
        <p>
            This Project leverages computer vision and the OpenCV library to facilitate interactive color detection
             in digital images. Users can double-click on an image, and the script extracts the selected color's RGB 
             values and provides the corresponding color name from a predefined color database.
        </p>
        <a href="https://github.com/sabariraj01/Color-Detection" class="btn" target="_blank">View</a>
    </div>

    <div class="project">
        <h2>Portfolio using Flask</h2>
        <p>
            This project demonstrates the development of a portfolio website using Flask and Jinja Templating, a popular Python
            web framework. The website features a responsive design, allowing it to adapt to different screen sizes and 
            devices. 
        </p>
        <a href="https://github.com/sabariraj01/Portfolio-Template_Using_Flask_And_JinjaTemplating" class="btn" target="_blank">View</a>
    </div>


    

</div>
{% endblock %}



